* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#reset-btn {
  margin: 0 auto;
  display: block;
}

.score {
  margin: 30px 0;
  text-align: center;
}

#game {
  width: 400px;
  height: 500px;
  margin: auto;
  overflow: hidden;
  background: #0099cb;
  position: relative;
}

#block {
  width: 50px;
  height: 500px;
  background: green;
  position: relative;
  left: 400px;
  animation: block 1.2s infinite linear;
  animation-play-state: paused;
}

@keyframes block {
  0% {
    left: 400px;
  }

  100% {
    left: -50px;
  }
}

#hole {
  background: url("https://user-images.githubusercontent.com/18351809/46888871-624a3900-ce7f-11e8-808e-99fd90c8a3f4.png");
  height: 150px;
  width: 50px;
  position: relative;
  left: 400px;
  top: -500px;
  animation: block 1.2s infinite linear;
  animation-play-state: paused;
}

#character {
  width: 40px;
  height: 40px;
  background: url("https://www.pngkey.com/png/full/325-3257134_flappy-bird-flappy-bird-sprite-png.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 100px;
  transform: rotatez(0);
  transition: transform 0.2s ease-out;
}
